
.konten {
  /* background-color: yellow; */
}

.login_button{
  margin-left: auto;
}

.border{
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 66px;
  background-color: steelblue;
  border-radius: 38px;
}

.isi{
  margin: 17px 13px 13px 13px;
  font-size: 20px;
  color: white;
}
